.page {
    margin: 0;
    font-family: 'Rubik', sans-serif;
    text-align: center;
}  

/* Header */
.page__header {
    background-color: #FFFFFF;
    padding: 10px 0 13px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}
.page__logo-link {}
.page__logo {
    width: 155px;
}
.page__menu {}
.menu {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;

}
.menu__item {
    margin-right: 20px;
}
.menu__item:last_child {
    margin-right: 0;
}

.menu__link {
    color: #4a4a4a;
    text-decoration: none;
    text-transform: uppercase;

}

/* Main */

.page__main {
    height: 100vh;
    background-color: #3CDBC0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.page__main-title {
    color: #FFFFFF;
    font-size: 30px;
    text-transform: capitalize;
    width: 200px;
}



 

 
 



